<% content_for :head do %>
	<%= stylesheet_link_tag 'gmaps4rails' %>
<% end %>

<div id="locations">
<h1><%= t("locations") %></h1>

<ul id="markers_list">  </ul>

<%= gmaps("markers" => {"data" => @json, "options" => {"list_container" => "markers_list" } }) %>

<%= yield :scripts %>
<ul id="online_locations">
	<% @online_locations.each do |online_location| %>
	<li><%= link_to online_location.name, online_location.hyperlink, :target => '_blank' %></li>
	<% end %>
</ul>
</div>
